@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Helvetica,
    sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
}

ul,
li {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Helvetica,
    sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, Helvetica,
    sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
hgroup,
menu,
nav {
  display: block;
}

header,
footer,
section {
  display: grid;
}

#maincontent {
  display: grid;
  background-color: #f3f3f3;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav h1 {
  margin: 0;
}

nav h1 a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#breadcrumb {
  display: flex;
  padding: 10px 0;
  list-style: none;
  background-color: #eee;
  margin: 0;
  width: 100%;
}

#breadcrumb li:first-of-type {
  padding: 0 0 0 20px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: '/\00a0';
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #303e48;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 1rem 0;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, sans-serif;
  font-size: 1rem;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: grid;
  grid-gap: 20px;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, sans-serif;
  min-height: 380px;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 14px;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
  padding: 124px 0 0 0;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Arial, sans-serif;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  font-size: 16px;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
}

#reviews-container {
  display: flex;
  flex-flow: column wrap;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 0 20px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

@media screen and (min-width: 960px) {
  #map-container,
  #restaurants-container {
    /* width: 49%;
    display: inline-block; */
  }
}
